<!-- Cards section -->
<div class="cards">
  <div class="card-single">
    <div>
      <h1><%=numOfUser%></h1>
      <span>Users</span>
    </div>
    <div>
      <span class="las la-users"></span>
    </div>
  </div>
  <div class="card-single">
    <div>
      <h1><%=numOfPost%></h1>
      <span>Posts</span>
    </div>
    <div>
      <span class="las la-users"></span>
    </div>
  </div>
  <div class="card-single">
    <div>
      <h1>65</h1>
      <span>Comments</span>
    </div>
    <div>
      <span class="las la-clipboard-list"></span>
    </div>
  </div>
  <div class="card-single">
    <div>
      <h1><%=numOfBlock%></h1>
      <span>Blocked</span>
    </div>
    <div>
      <span class="lab la-cc-paypal"></span>
    </div>
  </div>
</div>
<!-- Cards section -->

<!-- Table section -->
<!-- <div class="recent-grid">
  <div class="courses">
    <div class="card">
      <div class="card-header">
        <h3>Courses</h3>
        <button>See all <span class="las la-arrow-right"></span></button>
      </div>
      <div class="card-body">
        <table width="100%">
          <thead>
            <tr>
              <td>#</td>
              <td>Title</td>
              <td>Topic</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Developer</td>
              <td>Learn</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="users">
    <div class="card">
      <div class="card-header">
        <h3>Students</h3>
        <button>See all <span class="las la-arrow-right"></span></button>
      </div>
      <div class="card-body">
        <div class="student">
          <div class="info">
            <img
              src="https://hellohoa.com/wp-content/uploads/2019/01/cuc-hoa-mi-no-trong-ngay-dong.jpg"
              width="40px"
              height="40px"
              alt=""
            />
            <div>
              <h4>Nguyen Anh Dung</h4>
              <small>Leader</small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-user-circle"></span>
            <span class="las la-comment"></span>
            <span class="las la-phone"></span>
          </div>
        </div>
        <div class="student">
          <div class="info">
            <img
              src="https://hellohoa.com/wp-content/uploads/2019/01/cuc-hoa-mi-no-trong-ngay-dong.jpg"
              width="40px"
              height="40px"
              alt=""
            />
            <div>
              <h4>Nguyen Anh Dung</h4>
              <small>Leader</small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-user-circle"></span>
            <span class="las la-comment"></span>
            <span class="las la-phone"></span>
          </div>
        </div>
        <div class="student">
          <div class="info">
            <img
              src="https://hellohoa.com/wp-content/uploads/2019/01/cuc-hoa-mi-no-trong-ngay-dong.jpg"
              width="40px"
              height="40px"
              alt=""
            />
            <div>
              <h4>Nguyen Anh Dung</h4>
              <small>Leader</small>
            </div>
          </div>
          <div class="contact">
            <span class="las la-user-circle"></span>
            <span class="las la-comment"></span>
            <span class="las la-phone"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Table section -->
<!-- </div> --> 
