<input type="checkbox" name="" id="nav-toggle" />
<!-- Start sidebar -->
<div class="sidebar">
  <div class="sidebar-brand">
    <h3><span class="lab la-accusoft"></span> <span>Admin</span></h3>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li class="">
        <a href="/admin" class="active">
          <span class="las la-home"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/admin/users">
          <span class="las la-desktop"></span>
          <span>Users</span>
        </a>
      </li>
      <li>
        <a href="/admin/comments">
          <span class="las la-clipboard-list"></span>
          <span>Comments</span>
        </a>
      </li>
      <li>
        <a href="/admin/posts">
          <span class="las la-clipboard-list"></span>
          <span>Posts</span>
        </a>
      </li>
      <!-- <li>
        <a href="/">
          <span class="las la-sign-out-alt"></span>
          <span>Back</span>
        </a>
      </li> -->
      <li>
        <a href="/logout">
          <span class="las la-sign-out-alt"></span>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- End sidebar -->
